//Add option error
.add-option-error {
	color: $off-white;
	font-style: italic;
	padding: 0 $m-size;
	margin: $m-size 0 0 0;
}

// add option
.add-option {
	display: flex;
	padding: $m-size;
}

.add-option__input {
	flex-grow: 1;
	background: $dark-blue;
	border: none;
	border-bottom: .3rem solid darken($dark-blue, 10%);
	margin-right: $s-size;
	color: white;
	padding: $s-size;
}